.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

.vscode/launch.json
project-1/.vscode/extensions.json
project-1/.vscode/extensions.json
project-1/.vscode/launch.json
project-1/.vscode/tasks.json
project-1/.vscode/tasks.json
