<!-- Header -->
<div class="page-content-header">
    <div class="container">
        <div class="title col-12 d-line-flex">
            <div class="description ">
                <div class="col-6 row d-line-flex">
                    <div class="">
                        <span class="fs-2">{{entryStateValue}}</span>
                        <span>
                            <img src="login3-icon.png" class="btn-login" (click)="handleLogin()"
                                *ngIf="entryStateId == 1" />
                        </span>
                        <span>
                            <img src="submit-form-icon.png" class="btn-register" (click)="handleRegister()"
                                *ngIf="entryStateId == 2" />
                        </span>
                        <span>
                            <img src="submit-form-icon.png" class="btn-reset-password" (click)="handleResetPassword()"
                                *ngIf="entryStateId == 3" />
                        </span>
                    </div>
                    <div class="">

                    </div>
                </div>

            </div>
            <div class="actions col-6">


            </div>
        </div>
    </div>
</div>

<!-- Form -->
<div class="page-content-body">
    <form class="form col-12 row d-line-flex" [formGroup]="loginCreds">
        <div class="col-6 {{formSeperator}}">
            <div class="element row" *ngIf="entryStateId == 2">
                <div class="label col-12">
                    <label for="firstName">First Name</label>
                </div>
                <div class="control col-12">
                    <input type="text" id="firstName" formControlName="FirstName" />
                </div>
            </div>
            <div class="element row" *ngIf="entryStateId == 2">
                <div class="label col-12">
                    <label for="lastName">Last Name</label>
                </div>
                <div class="control col-12">
                    <input type="text" id="lastName" formControlName="LastName" />
                </div>
            </div>
            <div class="element row">
                <div class="label col-12">
                    <label for="emailAddressEntered">Email</label>
                </div>
                <div class="control col-12">
                    <input type="email" id="emailAddressEntered" formControlName="Email" />
                </div>
            </div>
            <div class="element row" *ngIf="entryStateId != 3">
                <div class="label col-12">
                    <label for="passwordEntered">Password</label>
                </div>
                <div class="control col-12">
                    <input type="password" id="passwordEntered" formControlName="Password" />
                </div>

            </div>
            <div class="element row" *ngIf="entryStateId == 3">
                <div class="label col-12">
                    <label for="newPasswordEntered">New Password</label>
                </div>
                <div class="control col-12">
                    <input type="password" id="newPasswordEntered" formControlName="NewPassword" />
                </div>
            </div>
            <div class="element row" *ngIf="entryStateId == 2||entryStateId == 3">
                <div class="label col-12">
                    <label for="passwordEntered">Re-Enter Password</label>
                </div>
                <div class="control col-12">
                    <input type="password" id="passwordEntered" formControlName="PasswordReEnter" />
                </div>
            </div>
            <div class="element row" *ngIf="entryStateId != 1">
                <div class="label">
                    <img src="back-icon.png" class="btn-register" (click)="handleBack()" />
                    <span> Go back</span>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="element row" *ngIf="entryStateId == 1">
                <div class=" col-12 ">
                    <span class="col-11 position-relative">Forgot your password? Click here </span>
                    <span class="col-1"><img src="forgot-password-icon.png" class="btn-reset-password"
                            (click)="handleResetPasswordView()" /></span>
                </div>

            </div>
            <div class="element row" *ngIf="entryStateId == 1">
                <div class=" col-12">
                    <span class="col-11">Don't have an account? Click here to register</span>
                    <span class="col-1"><img src="register2-icon.png" class="btn-register"
                            (click)="handleRegisterView()" /></span>
                </div>
            </div>
        </div>
    </form>
</div>