

<div class="page-content-header">
    <div>
        <div class="title">
            <div class="description">
                <span><h3>Profile Info</h3></span>
            </div>
            <div class="actions">
                <span><img src="pencil-icon.png" class="btn-edit" (click)="handleEnable()" *ngIf="isDisabled"/></span>
                <span><img src="reset-icon.png" class="btn-reset" (click)="handleReset()" *ngIf="!isDisabled"/></span>
                <span><img src="save-icon.png" class="btn-save" (click)="handleSave()" *ngIf="!isDisabled"/></span>
            </div>
        </div>
    </div>
</div>
<div class="page-content-body">
    <div class="form">

        <div class="element">
            <div class="label">
                <label>First Name</label>
            </div>
            <div class="control">
                <input type="text" [disabled]="isDisabled"/>
            </div>
        </div>
        <div class="element">
            <div class="label">
                <label>Last Name</label>
            </div>
            <div class="control">
                <input type="text" [disabled]="isDisabled"/>
            </div>
        </div>
        <div class="element">
            <div class="label">
                <label>Phone#</label>
            </div>
            <div class="control">
                <input type="text" [disabled]="isDisabled"/>
            </div>
        </div>
        <div class="element">
            <div class="label">
                <label>Password</label>
            </div>
            <div class="control">
                <input type="password" [disabled]="isDisabled"/>
            </div>
        </div>

    </div>
</div>



